.tournament-draw-content {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  padding: 0 1rem;
}

.tournament-teams {
  flex: 1 0 35%;
  padding: 1rem 0;
}

.tournament-teams #reset-btn {
  background-color: rgb(241, 76, 54);
}

.tournament-teams ol {
  padding: 0 1rem;
}

.tournament-teams li {
  margin-bottom: 0.3rem;
}

.import-teams {
  /* text-align: center; */
  padding: 1rem 0;
}

.import-teams label {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1ef013;
  cursor: pointer;
  transition: border-color 0.25s;
}

.import-teams label:hover {
  border-color: #646cff;
}
.import-teams label:focus,
.import-teams label:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.group-draw {
  flex-grow: 1;
  padding: 1rem 0;
}

.group-draw-settings {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.group-draw-settings div {
}

.powerpools {
  display: flex;
  align-items: center;
}

.powerpools input,
input#groups {
  max-width: 40px;
  margin-right: 1rem;
}

.draw-groupstage {
}

.groups {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.groups p {
  margin: 0 0 0 0;
  padding: 0.5rem;
}

.group,
.powerpool {
  flex-grow: 1;
  border: 3px solid darkcyan;
  border-radius: 1rem;
  margin: 0.5rem 0;
  /* background-color: lightcyan; */
}

.team-name {
  font-weight: bold;
}

.team-players {
  font-size: 0.88rem;
}

label {
  margin-right: 0.5rem;
}

.title {
  text-align: center;
  font-weight: bold;
}

.grey-color {
  color: grey;
}
