article.container {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

#tournament-draw-content {
  padding: 0.5rem 0.5rem 0 0;
  display: flex;
  gap: 1.5rem;
  margin: auto;
  min-width: 600px;
}

#tournament-draws {
  min-width: 300px;
  max-width: 375px;
  background-color: rgb(192 197 203);
  border-top-right-radius: 6px;
  padding: 0.5rem 0.5rem;
}

#tournament-draws div#tournament-name {
  border-radius: 6px;
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  background-color: white;
}

#tournament-draws div#tournament-name:not(:last-child) {
  margin-bottom: 0.5rem;
}

section.tournament-draw {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex: 1 0;
}

#tournament-draw-settings-form {
  display: flex;
  align-items: center;
}

.tournament-teams {
  flex: 1 0;
  padding: 0.5rem;
}

.tournament-teams #reset-btn {
  background-color: rgb(241, 76, 54);
}

.tournament-teams li {
  background-color: rgb(245 248 252);
  padding: 0.375rem 0.75rem;
  border-radius: 6px;
  min-width: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.tournament-teams li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.tournament-teams #add-team input {
  margin-bottom: 0.5rem;
  max-width: 420px;
}

.import-teams label {
  display: inline-block;
  border-radius: 6px;
  border: 1px solid transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  background-color: #1ef013;
  color: hsl(var(--destructive-foreground));
  --tw-ring-offset-color: hsl(var(--background));
  cursor: pointer;
  transition: border-color 0.25s;
}

.group-draw {
  flex: 3 0;
  padding: 0.5rem;
}

#group-draw-settings-form {
  display: flex;
  align-items: center;
}

#group-draw-settings-form input {
  max-width: 68px;
}

.groups {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.groups p {
  margin: 0 0 0 0;
  padding: 0 0.5rem 0.5rem 0.5rem;
  text-align: center;
}

.groups .teamname {
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  border-radius: 6px;
  background-color: white;
}

.groups .teamname:not(:last-child) {
  margin-bottom: 0.5rem;
}

div.group,
div.powerpool {
  border-radius: 6px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: rgb(245 248 252);
  min-width: 250px;
}

.team-name {
  font-weight: 500;
}

.team-players {
  font-size: 0.83rem;
  color: grey;
}

label {
  margin-right: 0.5rem;
  font-weight: 500;
}

.title {
  font-size: larger;
  font-weight: bold;
}

.grey-color {
  color: grey;
}
