#tournament-draw {
  padding: 0.5rem 0.5rem 0 0;
  display: flex;
  gap: 1.5rem;
  margin: auto;
  min-width: 600px;
}

#tournament-draws {
  min-width: 300px;
  max-width: 375px;
  background-color: hsl(var(--primary));
  border-top-right-radius: 6px;
  padding: 0.5rem 0.5rem;
}

#tournament-draw-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

#tournament-draw-item #tournament-draw-name {
  border-radius: 6px;
  padding: 0.375rem 0.75rem;
  font-weight: 500;
  background-color: white;
}

#tournament-draw-item #tournament-draw-name:not(:last-child) {
  margin-bottom: 0.5rem;
}

#group-stage-draw {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex: 1 0;
}

#group-stage-draw #tournament-teams {
  flex: 1 0;
  padding: 0.5rem;
}

#group-stage-draw #tournament-teams #reset-btn {
  background-color: rgb(241, 76, 54);
}

#group-stage-draw #tournament-teams li {
  background-color: #f1f5f9;
  padding: 0.375rem 0.75rem;
  border-radius: 6px;
  min-width: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

#group-stage-draw #tournament-teams li:not(:last-child) {
  margin-bottom: 0.5rem;
}

#add-team input {
  margin-bottom: 0.5rem;
  max-width: 420px;
}

.select-team-popover-content {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}

#group-stage-draw #tournament-teams .import-teams label {
  display: inline-block;
  border-radius: 6px;
  border: 1px solid transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  background-color: #1ef013;
  color: hsl(var(--destructive-foreground));
  --tw-ring-offset-color: hsl(var(--background));
  cursor: pointer;
  transition: border-color 0.25s;
}

.group-draw {
  flex: 3 0;
  padding: 0.5rem;
}

#group-stage-draw-settings {
}

.groups {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  flex-wrap: wrap;
}

div.group,
div.powerpool {
  border-radius: 6px;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #f1f5f9;
  min-width: 250px;
}

.groups p {
  margin-bottom: 1.25rem;
  padding: 0 0.75rem;
}

.groups .teamname {
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  border-radius: 6px;
}

.groups .teamname:not(:last-child) {
  margin-bottom: 0.5rem;
}

.team-name {
  font-weight: 500;
}

.lowlighted-text {
  font-size: 0.83rem;
  color: grey;
}

label {
  margin-right: 0.5rem;
  font-weight: 500;
}

.title {
  font-size: larger;
  font-weight: bold;
}

.grey-color {
  color: grey;
}

#fullscreen-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 3.51rem);
}
