.fixed-centered-content {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}

.tournament-team {
  background-color: hsl(var(--accent));
  padding: 0.375rem 0.75rem;
  border-radius: 6px;
  border-width: thin;
  border-color: hsl(var(--accent));
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  height: 48px;
}

.tournament-team[data-invalid="true"] {
  border-color: hsl(var(--destructive));
}

.tournament-team:not(:last-child) {
  margin-bottom: 0.5rem;
}

#add-team input {
  margin-bottom: 0.5rem;
}

.add-team-popover-content {
  width: var(--radix-popover-trigger-width);
  /* max-height: var(--radix-popover-content-available-height); */
}

div.group,
div.powerpool {
  border-radius: 6px;
  padding: 0.5rem;
  background-color: hsl(var(--accent));
  min-width: 250px;
}

.grey-text {
  font-size: 0.83rem;
  color: hsl(var(--muted-foreground));
}

.title {
  font-size: large;
  font-weight: bold;
}

.grey-color {
  color: grey;
}

.rotate-sidebar {
  transform: rotate(90deg) translate(40px);
  transform-origin: 0 0;
}
